# Environemnt Variables
.env

# Virtual Environments
venv/
.venv/

# Pycache files
**/__pycache__/

# Experiment logs/models
experiments/
config/interface/
config/builds/
hpc/

# Config files
config/*.yaml
config/**/*.yaml

# zip file and data file
*.zip
EEGPT/
DEAP/
labram-base.pth