# Environment Variables
.env
*.env

# Virtual Environments
venv/
.venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.cache

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Experiment and Model files
experiments/*/checkpoints/
*.pth
*.ckpt
*.h5
*.hdf5
metrics.png
*.pkl

# Logs
*.log
logs/
tensorboard/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store


# Data files
data/SEED-V/EEG_raw/
*.cnt
scratch*.h5
seedv*.h5

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
local_settings.py